html[data-darkreader-mode] body a {
  color: {{colors.primary.default.rgb}} !important;
}

@-moz-document regexp('^(?!http).*') {
  :root>* {
    background: {{colors.background.default.rgb}} !important;
  }
}

#urlbar-input-container:-moz-lwtheme, .urlbarView:-moz-lwtheme {
  background-color: color-mix(in srgb, var(--lwt-accent-color) 87%, black);
}

