/* === Global === */
* {
    all: unset;
    font-family: 'JetBrains Mono', monospace;
    font-size: 18px;
    text-shadow: none;
    background-color: transparent;
}

/* === Main Window === */
window {
    padding: 20px;
    border-radius: 12px;

    background:
    radial-gradient(circle at top left,     alpha({{ colors.primary_container.default.hex }},0.35), transparent 70%),
    radial-gradient(circle at top right,    alpha({{ colors.primary_container.default.hex }},0.35), transparent 70%),
    radial-gradient(circle at bottom left,  alpha({{ colors.primary_container.default.hex }},0.35), transparent 70%),
    radial-gradient(circle at bottom right, alpha({{ colors.primary_container.default.hex }},0.35), transparent 70%),
    alpha({{ colors.background.default.hex }},0.85);
}

/* === Layout === */
#outer-box {
    border: none;
}
#inner-box {
    margin: 2px;
    padding: 5px;
    border: none;
}
#scroll {
    margin: 0px;
    padding: 20px;
    border: none;
}

/* === Input field === */
#input {
    margin: 20px;
    padding: 15px;
    border-radius: 10px;
    color: {{ colors.primary.default.hex }};
    background-color: alpha({{ colors.background.default.hex }}, 0.25);
    box-shadow: 1px 1px 5px rgba(0,0,0,.5);
}

#input image {
    color: {{ colors.primary.default.hex }};
    padding-right: 10px;
}

/* === Item list === */
#entry {
    border: none;
    margin: 5px;
    padding: 10px;
    border-radius: 12px;
    transition: background-color 0.2s ease, color 0.2s ease;
}

/* Normal text */
#entry #text {
    color: {{ colors.primary.default.hex }};
}

/* Highlight item */
#entry:selected {
    background-color: alpha({{ colors.primary.default.hex }}, 0.2); /* warna highlight */
    border: 1px solid {{ colors.primary.default.hex }};
    box-shadow: 0 0 8px alpha({{ colors.primary.default.hex }}, 0.3);
}
#entry:selected #text {
    color: {{ colors.primary.default.hex }};
    font-weight: bold;
}

/* Arrow icon */
#entry arrow {
    color: {{ colors.secondary.default.hex }};
}