@import '../colors.css';

* {
    font-family: "Fira Code Nerd Font";
    font-weight: bold;
}

#waybar {
    background: alpha(@background, 0.6);
    color: @primary;
}

#clock {
    padding-left: 4px;
}

#tray {
    padding-left: 4px;
}

#workspaces button {
    color: @primary;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 0px;
}

#workspaces button:hover {
    color: @on_secondary_container;
    background-color: alpha(@secondary_container, 0.7);
}

#workspaces button.active {
    color: @on_primary_container;
    background-color: alpha(@primary_container, 0.7);
}

#window {
    color: @primary;    
}

#network {
    color: #3b82f6;
    margin-right: 8px;
}

#pulseaudio {
    color: #14b8a6;
    margin-right: 4px;
}

#cpu {
    color: #0ea5e9;
    margin-right: 4px;
}

#temperature {
    color: #eab308;
    margin-right: 4px;
}

#memory {
    color: #d946ef;
    margin-right: 4px;
}

#custom-powermenu {
    color: #f43f5e;
}
